@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  font-family: "Oswald", sans-serif;
}
.wrapper {
  width: 20rem;
  background: #fafafafa;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 17px -5px 15px -8px rgba(0, 0, 0, 0.1),
    -20px -12px 31px 0px rgba(0, 0, 0, 0.1);
}
.screen {
  height: 4rem;
  margin-bottom: 4rem;
}
.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
.button {
  height: 3.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background: #efefef;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  box-shadow: inset -6px 6px 15px -10px rgba(0, 0, 0, 0.1),
    inset 6px -5px 40px -18px rgba(0, 0, 0, 0.1);
}
.equal{
  background: #a3a3f6;
  grid-column: 3/5;
}
.operations{
  background: #78ff9a;
}
